<div class="dashboard">
  <div class="dashboard-section">
    <div class="dashboard-title">
      <h1>Products</h1>
    </div>
    <div class="dashboard-products">
      <div class="dashboard-item" *ngFor="let product of products">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{ product.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ product.description }}</p>
            <button mat-button disabled="true">
              Price: ${{ product.retailPrice }}
            </button>
            <a routerLink="/products/{{ product.id }}"
              ><button mat-button color="primary">Detail</button></a
            >
          </mat-card-content>
          <mat-card-actions *ngIf="role === ROLE.NORMAL">
            <a routerLink="/orders/add/{{ product.id }}"
              ><button mat-button color="accent">Add to Order</button></a
            >
            <button
              mat-button
              color="warn"
              (click)="addToWatchList(product.id)"
            >
              Add to Watch List
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="dashboard-section" *ngIf="role === ROLE.ADMIN">
    <div class="dashboard-title">
      <h1>Five Recently Orders</h1>
    </div>
    <div class="dashboard-orders">
      <div class="dashboard-item" *ngFor="let order of orders">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Order: {{ order.id }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Status: <strong>{{ order.status }}</strong>
            </p>
            <p>Placement: {{ parsePlacementTime(order.placementTime) }}</p>
          </mat-card-content>
          <mat-card-actions>
            <a routerLink="/orders/{{ order.id }}"
              ><button mat-button>Detail</button></a
            >
            <button
              mat-button
              color="primary"
              (click)="completeOrder(order.id)"
              *ngIf="role === ROLE.ADMIN && order.status === ORDER_STATUS.PROCESSING"
            >
              Complete
            </button>
            <button
              mat-button
              color="accent"
              (click)="cancelOrder(order.id)"
              *ngIf="order.status === ORDER_STATUS.PROCESSING"
            >
              Cancel
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
