<div class="dashboard">
  <div class="dashboard-section">
    <div class="dashboard-title">
      <h1>Products Management</h1>
    </div>
    <div class="dashboard-main">
      <div class="dashboard-add-product">
        <div
          class="dashboard-item"
          *ngFor="let product of products.slice(0, 1)"
        >
          <mat-card class="example-card add-card">
            <mat-card-header>
              <mat-card-title class="add-product-title">
                <mat-form-field
                  class="example-full-width"
                  color="accent"
                  appearance="outline"
                >
                  <mat-label for="product-title" style="font-size: 14px"
                    >Title:
                  </mat-label>
                  <input
                    matInput
                    id="product-title"
                    [(ngModel)]="newProduct.title"
                    name="title"
                    placeholder="Title"
                    required="true" /></mat-form-field
              ></mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div id="product-management-card-content">
                <mat-form-field
                  class="example-full-width"
                  color="accent"
                  appearance="outline"
                >
                  <mat-label for="product-description" style="font-size: 14px"
                    >Description:
                  </mat-label>
                  <textarea
                    matInput
                    id="product-description"
                    [(ngModel)]="newProduct.description"
                    name="description"
                    placeholder="Description"
                  ></textarea>
                </mat-form-field>
                <mat-form-field
                  class="example-full-width"
                  color="accent"
                  appearance="outline"
                >
                  <mat-label for="product-retail-price" style="font-size: 14px"
                    >(Retail) Price:
                  </mat-label>
                  <input
                    type="number"
                    min="0"
                    matInput
                    id="product-retail-price"
                    [(ngModel)]="newProduct.retailPrice"
                    name="retailPrice"
                    placeholder="Retail Price"
                    required="true"
                /></mat-form-field>
                <mat-form-field
                  class="example-full-width"
                  color="accent"
                  appearance="outline"
                >
                  <mat-label
                    for="product-wholesale-price"
                    style="font-size: 14px"
                    >(Wholesale) Price:
                  </mat-label>
                  <input
                    type="number"
                    min="0"
                    matInput
                    id="product-wholesale-price"
                    [(ngModel)]="newProduct.wholesalePrice"
                    name="wholesalePrice"
                    placeholder="Wholesale Price"
                    required="true"
                /></mat-form-field>
                <mat-form-field
                  class="example-full-width"
                  color="accent"
                  appearance="outline"
                >
                  <mat-label for="product-quantity" style="font-size: 14px"
                    >Quantity:
                  </mat-label>
                  <input
                    type="number"
                    min="0"
                    matInput
                    id="product-quantity"
                    [(ngModel)]="newProduct.quantity"
                    name="quantity"
                    placeholder="Quantity"
                    required="true"
                /></mat-form-field>
              </div>
              <button
                mat-stroked-button
                color="accent"
                (click)="createNewProduct()"
              >
                Create
              </button>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <div class="dashboard-products">
        <div class="dashboard-item" *ngFor="let product of products.slice(1)">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{ product.title }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{ product.description }}</p>
              <div id="product-management-card-content">
                <button mat-button disabled="true">
                  Price: ${{ product.retailPrice }} (Retail) / ${{
                    product.wholesalePrice
                  }}
                  (Wholesale)
                </button>
                <button mat-button disabled="true">
                  Stock Left: {{ product.quantity }}
                </button>
              </div>
              <a routerLink="/products/{{ product.id }}"
                ><button mat-button color="primary">Detail</button></a
              >
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
