.example-card {
  width: 320px;
  max-width: 600px;
  margin: 10px;
}

.add-card {
  background-color: lightcyan;
}

.dashboard {
  display: flex;
  justify-content: space-evenly;
}

.dashboard-section {
  flex-direction: row;
}

.dashboard-main {
  display: flex;
  flex-direction: row;
}
.dashboard-add-product {
  padding-right: 10px;
}

.dashboard-title {
  text-align: center;
}

.dashboard-products {
  display: flex;
  flex-wrap: wrap;
  border-left: 1px solid lightgray;
  padding-left: 10px;
}

.dashboard-item {
  flex: 1 0 calc(25% - 10px);
}

div#product-management-card-content {
  display: flex;
  flex-direction: column;
}

div#product-management-card-content button {
  font-size: 12px;
}
