<form [formGroup]="registerForm">
  <div>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input
        matInput
        type="text"
        name="username"
        placeholder="Username"
        formControlName="username"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        name="email"
        placeholder="Email"
        formControlName="email"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        name="password"
        placeholder="Password"
        formControlName="password"
      />
    </mat-form-field>
  </div>
  <button (click)="onClick()" [disabled]="!registerForm.valid">Submit</button>
</form>
