<mat-toolbar layout="row">
  <a mat-raised-button color="accent" routerLink="/">Super Mart</a>
  <div *ngIf="authService.isLoggedIn()">
    <div *ngIf="getRole() === ROLE.ADMIN">
      <a mat-button routerLink="/admin/products">Products Management</a>
      <a mat-button routerLink="/admin/orders">Orders Management</a>
      <a mat-button routerLink="/stats">Stats</a>
      <a
        *ngIf="authService.isLoggedIn()"
        mat-button
        routerLink="/logout"
        (click)="onLogout()"
        >Logout</a
      >
    </div>
    <div *ngIf="getRole() === ROLE.NORMAL">
      <a mat-button routerLink="/watchlist">Watch Lists</a>
      <a mat-button routerLink="/orders">Orders</a>
      <a mat-button routerLink="/stats">Stats</a>
      <a mat-button routerLink="/logout" (click)="onLogout()">Logout</a>
    </div>
  </div>
  <div *ngIf="!authService.isLoggedIn()">
    <a mat-button routerLink="/login">Login</a>
    <a mat-button routerLink="/register">Register</a>
  </div>
</mat-toolbar>
