<div class="container">
  <div *ngIf="role === ROLE.NORMAL">
    <button
      mat-raised-button
      color="primary"
      class="category-btn"
      *ngIf="currentStat === MOST_STAT.MOST_FREQUENTLY"
    >
      Most Frequently
    </button>
    <button
      mat-button
      color="primary"
      (click)="setCurrentStat(MOST_STAT.MOST_FREQUENTLY)"
      class="category-btn"
      *ngIf="currentStat !== MOST_STAT.MOST_FREQUENTLY"
    >
      Most Frequently
    </button>

    <button
      mat-raised-button
      color="primary"
      class="category-btn"
      *ngIf="currentStat === MOST_STAT.MOST_RECENT"
    >
      Most Recently
    </button>
    <button
      mat-button
      color="primary"
      (click)="setCurrentStat(MOST_STAT.MOST_RECENT)"
      class="category-btn"
      *ngIf="currentStat !== MOST_STAT.MOST_RECENT"
    >
      Most Recently
    </button>
  </div>
  <div *ngIf="role === ROLE.ADMIN">
    <button
      mat-raised-button
      color="primary"
      class="category-btn"
      *ngIf="currentStat === MOST_STAT.MOST_PROFITABLE"
    >
      Most Profitable
    </button>
    <button
      mat-button
      color="primary"
      (click)="setCurrentStat(MOST_STAT.MOST_PROFITABLE)"
      class="category-btn"
      *ngIf="currentStat !== MOST_STAT.MOST_PROFITABLE"
    >
      Most Profitable
    </button>

    <button
      mat-raised-button
      color="primary"
      class="category-btn"
      *ngIf="currentStat === MOST_STAT.MOST_POPULAR"
    >
      Most Popular
    </button>
    <button
      mat-button
      color="primary"
      (click)="setCurrentStat(MOST_STAT.MOST_POPULAR)"
      class="category-btn"
      *ngIf="currentStat !== MOST_STAT.MOST_POPULAR"
    >
      Most Popular
    </button>
  </div>
  <div>
    <mat-label id="amount-label"># of Products</mat-label>
    <input
      type="number"
      matInput
      [(ngModel)]="nProduct"
      placeholder="0"
      id="amount-input"
      min="0"
    />
  </div>
  <button
    mat-raised-button
    color="accent"
    (click)="updateMostList()"
    class="category-btn"
  >
    Update
  </button>
</div>

<div class="table">
  <div [ngSwitch]="currentStat">
    <table *ngSwitchCase="MOST_STAT.MOST_FREQUENTLY">
      <tr>
        <th class="table-header">Item</th>
        <th class="table-header">Count</th>
        <th class="table-header">Details</th>
      </tr>
      <tr *ngFor="let item of asMostFreq(mostNProduct)" class="table-row">
        <td class="table-cell">{{ item.product.title }}</td>
        <td class="table-cell">{{ item.count }}</td>
        <td class="table-cell-stats-details">
          <button mat-raised-button (click)="routToProduct(item.product.id)">
            Enter
          </button>
        </td>
      </tr>
    </table>

    <table *ngSwitchCase="MOST_STAT.MOST_RECENT">
      <tr>
        <th class="table-header">Item</th>
        <th class="table-header">Time</th>
        <th class="table-header">Details</th>
      </tr>
      <tr *ngFor="let item of asMostRecent(mostNProduct)" class="table-row">
        <td class="table-cell">{{ item.product.title }}</td>
        <td class="table-cell">{{ item.timestamp }}</td>
        <td class="table-cell-stats-details">
          <button mat-raised-button (click)="routToProduct(item.product.id)">
            Enter
          </button>
        </td>
      </tr>
    </table>

    <table *ngSwitchCase="MOST_STAT.MOST_PROFITABLE">
      <tr>
        <th class="table-header">Item</th>
        <th class="table-header">Profit</th>
        <th class="table-header">Details</th>
      </tr>
      <tr *ngFor="let item of asMostProfit(mostNProduct)" class="table-row">
        <td class="table-cell">{{ item.product.title }}</td>
        <td class="table-cell">$ {{ item.profit }}</td>
        <td class="table-cell-stats-details">
          <button mat-raised-button (click)="routToProduct(item.product.id)">
            Enter
          </button>
        </td>
      </tr>
    </table>

    <table *ngSwitchCase="MOST_STAT.MOST_POPULAR">
      <tr>
        <th class="table-header">Item</th>
        <th class="table-header">Count</th>
        <th class="table-header">Details</th>
      </tr>
      <tr *ngFor="let item of asMostFreq(mostNProduct)" class="table-row">
        <td class="table-cell">{{ item.product.title }}</td>
        <td class="table-cell">{{ item.count }}</td>
        <td class="table-cell-stats-details">
          <button mat-raised-button (click)="routToProduct(item.product.id)">
            Enter
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
