.container {
  display: flex;
  align-items: center;
}

.table {
  width: 100%;
  font-size: 16px;
}

.table-header {
  padding: 10px 20px 10px 20px;
}

.table-row .table-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.table-row:hover .table-cell {
  border-color: lightgray;
}

.table-cell {
  padding: 10px 20px 10px 20px;
  text-align: right;
}

#order-sum {
  margin-top: 20px;
  text-align: right;
}

#last-row {
  border-top: 1px solid black;
}

button.category-btn {
  margin-left: 5px;
  margin-right: 5px;
}

#amount-label {
  margin-right: 10px;
}

#amount-input {
  margin-right: 10px;
}

td.table-cell-stats-details {
  text-align: center;
}
