.example-card {
  width: 320px;
  max-width: 600px;
  margin: 10px;
}

.dashboard {
  display: flex;
  justify-content: space-evenly;
}

.dashboard-section {
  flex-direction: row;
}

.dashboard-title {
  text-align: center;
}

.dashboard-orders {
  display: flex;
  flex-wrap: wrap;
}

.dashboard-item {
  flex: 1 0 calc(25% - 10px); 
}
