<div class="dashboard">
  <div class="dashboard-section" *ngIf="role === ROLE.ADMIN">
    <div class="dashboard-title">
      <h1>Orders Management</h1>
    </div>
    <div class="dashboard-orders">
      <div class="dashboard-item" *ngFor="let order of orders">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Order: {{ order.id }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              User ID: <strong>{{ order.user_id }}</strong> | Status:
              <strong>{{ order.status }}</strong>
            </p>
            <p>Placement: {{ parsePlacementTime(order.placementTime) }}</p>
          </mat-card-content>
          <mat-card-actions>
            <a routerLink="/orders/{{ order.id }}"
              ><button mat-button>Detail</button></a
            >
            <button
              mat-button
              color="primary"
              (click)="completeOrder(order.id)"
              *ngIf="
                role === ROLE.ADMIN && order.status === ORDER_STATUS.PROCESSING
              "
              style="font-size: 13px"
            >
              Complete order 
            </button>
            <button
              mat-button
              color="accent"
              (click)="cancelOrder(order.id)"
              *ngIf="order.status === ORDER_STATUS.PROCESSING"
              style="font-size: 13px"
            >
              Cancel order
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
