<div>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input
      matInput
      type="text"
      name="username"
      [(ngModel)]="loginForm.username"
      placeholder="Username"
      required="true"
    />
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      name="password"
      [(ngModel)]="loginForm.password"
      placeholder="Password"
      required="true"
    />
  </mat-form-field>
</div>
<button mat-raised-button (click)="onClick()" color="accent">Login</button>
