<div class="table">
  <table>
    <tr>
      <th class="table-header">Product</th>
      <th class="table-header">Price</th>
      <th class="table-header">Details</th>
      <th class="table-header">Remove</th>
      <th class="table-header">Add to Order</th>
    </tr>
    <tr *ngFor="let item of watchList.watchItemList" class="table-row">
      <td class="table-cell">{{ item.title }}</td>
      <td class="table-cell">{{ item.retailPrice }}</td>
      <td class="table-cell">
        <a routerLink="/products/{{ item.id }}"
          ><button mat-button color="primary">Detail</button></a
        >
      </td>
      <td class="table-cell">
        <button
          mat-button
          color="accent"
          (click)="removeFromWatchList(item.id)"
        >
          Remove
        </button>
      </td>
      <td class="table-cell">
        <a routerLink="/orders/add/{{ item.id }}"
          ><button mat-button color="accent">Add</button></a
        >
      </td>
    </tr>
  </table>
</div>
