<button
  mat-raised-button
  color="primary"
  (click)="onOrderSwitch(true)"
  *ngIf="showCurrent"
  class="category-btn"
>
  Current Order
</button>
<button
  mat-button
  color="primary"
  (click)="onOrderSwitch(true)"
  *ngIf="!showCurrent"
  class="category-btn"
>
  Current Order
</button>
<button
  mat-raised-button
  color="primary"
  (click)="onOrderSwitch(false)"
  *ngIf="!showCurrent"
  class="category-btn"
>
  Past Orders
</button>
<button
  mat-button
  color="primary"
  (click)="onOrderSwitch(false)"
  *ngIf="showCurrent"
  class="category-btn"
>
  Past Orders
</button>

<div *ngIf="showCurrent">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>New Order</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Status: <strong>{{ newOrderStatus }}</strong>
      </p>
      <li *ngFor="let item of currentOrder.newOrderItems">
        <strong>{{ item.title }}</strong> - Qty: {{ item.quantity }} | Unit
        Price: ${{ item.price }}
        <button
          mat-button
          color="accent"
          (click)="removeItemInCurrentOrder(item.product_id)"
        >
          Remove
        </button>
      </li>
    </mat-card-content>
    <button
      mat-raised-button
      color="primary"
      (click)="createNewOrder()"
      id="btn-send-order"
      disabled="{{ currentOrder.newOrderItems.length === 0 }}"
    >
      Send Order
    </button>
  </mat-card>
</div>

<div class="dashboard-orders" *ngIf="!showCurrent">
  <div class="dashboard-item" *ngFor="let order of orders">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>order-id: {{ order.id }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Status: <strong>{{ order.status }}</strong>
        </p>
        <p>Placement: {{ parsePlacementTime(order.placementTime) }}</p>
      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/orders/{{ order.id }}"
          ><button mat-button>Detail</button></a
        >
        <button
          mat-button
          color="primary"
          (click)="completeOrder(order.id)"
          *ngIf="role === ROLE.ADMIN"
        >
          Complete order
        </button>
        <button
          mat-button
          color="accent"
          (click)="cancelOrder(order.id)"
          *ngIf="order.status === ORDER_STATUS.PROCESSING"
        >
          Cancel order
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
