.example-card {
  max-width: 400px;
  margin: 10px;
}

button.category-btn {
  margin-left: 5px;
  margin-right: 5px;
}

button#btn-send-order {
  margin-top: 10px;
}

.dashboard-orders {
  display: flex;
  flex-wrap: wrap;
}

.dashboard-item {
  flex: 1 0 calc(25% - 10px);
}
