<div>
  <h1>
    {{ product.title }}
  </h1>
</div>
<div>
  <h3>
    {{ product.description }}
  </h3>
</div>
<div>
  <p *ngIf="role === ROLE.ADMIN">Price (Retail): {{ product.retailPrice }}</p>
  <p *ngIf="role === ROLE.NORMAL">Price: {{ product.retailPrice }}</p>
</div>
<div *ngIf="role === ROLE.ADMIN">
  <p>Price (Wholesale): {{ product.wholesalePrice }}</p>
</div>
<div *ngIf="role === ROLE.ADMIN">
  <p>Remain Stock: {{ product.quantity }}</p>
</div>

<div>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label for="amount-input">Amount: </mat-label>
      <input
        type="number"
        min="0"
        matInput
        id="amount-input"
        [(ngModel)]="amount"
        name="amount"
        placeholder="Amount"
      />
    </mat-form-field>
  </form>
  <button
    mat-stroked-button
    color="accent"
    class="add"
    disabled="{{ amount === 0 }}"
    (click)="addToOrder(product.id, product.title, amount, product.retailPrice)"
  >
    Add
  </button>
</div>
