<div>
  <h1>order-id: {{ order.id }}</h1>
</div>
<div>
  <h3>
    Status: <strong>{{ order.status }}</strong>
  </h3>
</div>
<div>
  <h3>Placement: {{ parsePlacementTime(order.placementTime) }}</h3>
</div>

<div class="table">
  <table>
    <tr>
      <th class="table-header">Item</th>
      <th class="table-header">Price</th>
      <th class="table-header">Quantity</th>
      <th class="table-header">Total ($)</th>
    </tr>
    <tr *ngFor="let item of order.orderItemList" class="table-row">
      <td class="table-cell">{{ item.product.title }}</td>
      <td class="table-cell">{{ item.purchasePrice }}</td>
      <td class="table-cell">{{ item.quantity }}</td>
      <td class="table-cell">{{ item.purchasePrice * item.quantity }}</td>
    </tr>
    <tr id="last-row">
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">Order Total:</td>
      <td class="table-cell">
        <p id="order-sum">{{ calculateOrderTotal() }}</p>
      </td>
    </tr>
  </table>
</div>

<div>
  <button
    mat-button
    color="primary"
    *ngIf="role === ROLE.ADMIN && order.status === ORDER_STATUS.PROCESSING"
    (click)="completeOrder(order.id)"
  >
    Complete order
  </button>
  <button
    mat-button
    color="accent"
    (click)="cancelOrder(order.id)"
    *ngIf="order.status === ORDER_STATUS.PROCESSING"
  >
    Cancel order
  </button>
</div>
