<div>
  <h1>
    {{ product.title }}
  </h1>
</div>

<div *ngIf="role === ROLE.ADMIN">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label for="product-description">Description: </mat-label>
      <textarea
        matInput
        id="product-description"
        [(ngModel)]="product.description"
        name="description"
        placeholder="Description"
      ></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label for="product-retail-price">Retail Price: </mat-label>
      <input
        type="number"
        min="0"
        matInput
        id="product-retail-price"
        [(ngModel)]="product.retailPrice"
        name="retailPrice"
        placeholder="Retail Price"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label for="product-wholesale-price">Wholesale Price: </mat-label>
      <input
        type="number"
        min="0"
        matInput
        id="product-wholesale-price"
        [(ngModel)]="product.wholesalePrice"
        name="wholesalePrice"
        placeholder="Wholesale Price"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label for="product-quantity">Quantity: </mat-label>
      <input
        type="number"
        min="0"
        matInput
        id="product-quantity"
        [(ngModel)]="product.quantity"
        name="quantity"
        placeholder="Quantity"
      />
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" (click)="updateProduct(product.id)">
    Update
  </button>
</div>

<div *ngIf="role === ROLE.NORMAL">
  <h3>{{ product.description }}</h3>
  <p>Price: {{ product.retailPrice }}</p>
  <a routerLink="/orders/add/{{ product.id }}"
    ><button mat-stroked-button color="accent" class="add">
      Add to Order
    </button></a
  >

  <button
    mat-stroked-button
    color="warn"
    class="add"
    (click)="addToWatchList(product.id)"
  >
    Add to Watch List
  </button>
</div>
